{% extends 'base.html' %}
{% block subtitle %}Set New Password{% endblock %}
{% block content %}
<div class="login">
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <ul type="none">
            {% for field in form %}
            <li>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </li>
            {% endfor %}
            <label>&nbsp;</label><input type="submit" value="Set new password" />
        </ul>
    </form>
    {% else %}
    <p class="error">This password reset link is invalid or has expired. Please <a href="{% url 'password_reset' %}">request a new one</a>.</p>
    {% endif %}
</div>
{% endblock %}
