
<div id="topMenuBar">
    <ul id="navigation">

        <li><a href="/"><span class="current-page">Home</span></a></li>
        <li><a href="{{ url('query_start') }}"><span>Query wizard</span></a></li>
        <li><a href="{{ url('erd') }}"><span>Database structure</span></a></li>
    {% if request.user.is_staff %}
        <li><a href="{{ url('admin:index') }}"><span>Admin</span></a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
        {# <li><a href="{{ url('manage') }}"><span>Manage Account</span></a></li> #}
        <li><a href="{{ url('logout') }}"><span>Log out</span></a></li>
        <li><span style="color: #c7b299">Logged in as: {{ request.user.get_username() }}</span></li>
    {% else %}
        <li><a href="{{ url('login') }}"><span>Log in</span></a></li>
    {% endif %}

    </ul>

</div>
