{% extends 'base.html' %}
{% block subtitle %} Change Password {% endblock %}
{% block content %}

    <div class="login">
        <p>You must set a new password before continuing.</p>
        {% if error %}
        <p class='error'>{{ error }}</p>
        {% endif %}
        <form action="{% url "change_password" %}" method="post">
            <ul type="none">
            {% csrf_token %}
            <li>
                <label for="new_password">New password:</label>
                <input type="password" id="new_password" name="new_password" />
            </li>
            <li>
                <label for="confirm_password">Confirm password:</label>
                <input type="password" id="confirm_password" name="confirm_password" />
            </li>
            <label>&nbsp;</label><input type="submit" value="Set password" />
            </ul>
        </form>
    </div>
{% endblock %}
