{% extends 'base.html' %}
{% block subtitle %} Request PRIMO Account {% endblock %}
{% block content %}

    <div class="login">
        <form id="access-request-form">
            <ul type="none">
            {% for item in form %}
                <li>
                <label for="id_{{ item.name }}">{{ item.label }}</label> {{ item }}
                </li>
            {% endfor %}
            <label>&nbsp;</label><input type="submit" value="Send" />
            </ul>
        </form>
    </div>

    <script>
    document.getElementById("access-request-form").addEventListener("submit", function(e) {
        e.preventDefault();
        var f = e.target;
        var name = f.first_name.value + " " + f.last_name.value;
        var body = name + ", " + f.email.value + "\n"
            + f.affiliation.value + ", " + f.position.value + ", "
            + f.dept.value + ", " + f.institute.value + "\n"
            + f.country.value + "\n"
            + f.body.value;
        window.location = "mailto:eric.delson@lehman.cuny.edu"
            + "?subject=" + encodeURIComponent("New PRIMO account request")
            + "&body=" + encodeURIComponent(body);
    });
    </script>
{% endblock %}
