{% extends 'base.html' %}
{% load static %}
{% block subtitle %} PRIMO Database Structure {% endblock %}
{% block content %}
<img src="{% static 'primo/images/ER_diagram.svg' %}" alt="PRIMO entity-relationship diagram" />

<p><a href="{% static 'primo/images/ER_diagram.svg' %}">Download</a></p>
{% endblock %}
