{% extends 'base.html' %}
{% block subtitle %} Introduction to NYCEP Morphometrics Database {% endblock %}
{% block content %}
<div id="main-content" style="max-width: 1000px;">
<p>PRIMO (PRImate Morphometrics Online), the NYCEP Primate Morphometric database, is a resource for
researchers who use metrical (including 3D) data to study aspects of
primate morphology and evolution. It permits downloading of data on
dentitions, crania and postcrania collected by members of the NYCEP
Morphometrics Group or archived by other colleagues for public
access. </p>


<p><strong>To take full advantage of PRIMO, it is necessary to request a personal
    login (see below); to determine if PRIMO will be useful to you, it is possible
    to see its major components:</strong> <br />
<ol>
    <li>Download <a href="{% url 'erd' %}">excel file</a> information for users
    which lists the number of specimens in the database by genus, to give an idea
    of coverage; and presents lists of variables, institutions, individuals who
    collected data and taxa recognized; also download pdfs of Delson’s examples
    of <a href="">wear stages</a> and <a href="">terminology figure</a> if using
    dental data.</li>
    <li>Login with username user and password primouser.</li>
    <li>If desired, click Database Structure to see the layout of tables.</li>
    <li>Click Query Wizard to seek data.</li>
    <ol type="a">
        <li>Choose type of data to search&mdash;scalar (e.g., caliper measures of
        linear distance, angles) or 3D (Microscribe landmark data); additional data
        types, such as laser scans, will be available in due course, as will
        additional geographical locality information and digital images of specimens .</li>
        <li>Subset the data by taxon, bodypart, and variable as desired; it is
        wisest to select bodypart before variable, in order to see only those
        variables relevant to the region selected.</li>
        <li>Click &ldquo;data preview&rdquo; to see the first five rows in order
        to confirm that the correct variables are selected. When using password
        primouser, this is as far as you can go. Users with a personal login can
        download a full excel .csv file (comma delimited text file) at this point.</li>
        <li>Alternatively, users with a personal login can go directly to
        &ldquo;Results&rdquo; to see the entire matrix onscreen and then download.</li>
    </ol>
</ol></p>

<p>When using password primouser, data from only the first five specimens will be
shown. To obtain full access to public data, one must request a personal login.
<a href="{% url 'email' %}">Email Eric Delson</a>, filling out the request form
which will appear.</p>

<p>PRIMO was developed by Eric Delson, David P. Reddy and the late Leslie F.
Marcus with the assistance of Martin Friess, Stephen R. Frost, Will Harcourt-Smith,
Johann Kim, Eric Ford, Julian Saunders, and Katherine St. John, along with many
student workers. The development of PRIMO was financially supported by the National
Science Foundation, under awards ACI 99-82351, BCS 04-52961, IIS 05-13660 and
IIS 11-16921.</p>

<p>If you utilize PRIMO data in your work, we would appreciate it if you would
insert a line in your acknowledgments such as:
&ldquo;Some data for this project were downloaded from PRIMO, the NYCEP PRImate
Morphology Online database (http://primo.nycep.org). I thank Dr. Eric Delson and
colleagues for access to these data.&rdquo;</p>

<p>We would also appreciate a copy of any publication (or other report) emailed
to us at <a href="mailto:primo@nycep.org">primo@nycep.org</a>.</p>
</div>
{% endblock %}
