{% extends 'base.html' %}
{% block subtitle %} PRIMO Log out {% endblock %}
{% block content %}
<div id="main-content">
    <p>You’ve logged out of PRIMO. Thanks, and come again!</p>
</div>
{% endblock %}
