{% extends 'base.html' %}
{% load static %}
{% block subtitle %} {{request.session['scalar_or_3d'].title()}} Download Success {% endblock %}
{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'primo/js/tablesorter-master/jquery.tablesorter.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'primo/blue/style.css' %}" />

<!-- <p>If your file did not download, <a href="{{filename}}">click here</a>.</p> -->
<h3>Start new <a href="{% url 'query_start' %}">search.</a></h3>

{% endblock %}
