{% extends 'base.html' %}
{% block subtitle %} PRIMO Database Structure {% endblock %}
{% block content %}
<img src="{{ static('primo/images/primo_erd_1.png') }}" alt="PRIMO entity-relationship diagram" />

<p><a href="{{ static('primo/images/primo_erd_1.png') }}">Download</a></p>
{% endblock %}
