{% extends 'base.html' %}
{% block subtitle %} PRIMO Login {% endblock %}
{% block content %}

    <div class="login">
        {% if error %}
        <p class='error'>{{ error }}</p>
        {% endif %}
        <form action="{{ url('login') }}" method="post">
            <ul type="none">
            {% csrf_token %}
            {% for item in form %}
                <li>
                <label for="id_{{ item.name }}">{{ item.label }}</label> {{ item }} 
                {% for error in item.errors %}
                <span class="error">{{ error }}</span><br />
                {% endfor %}
                </li>
                
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />
            <label>&nbsp;</label><input type="submit" value="Sign in" />
            </ul>
        </form>
    </div>
{% endblock %}