{% extends 'base.html' %}
{% load static %}
{% block subtitle %}
    {% if current_table == "bodypart" %}
        Body Part
    {% else %}
        {{ current_table|capfirst }}
    {% endif %}
    Selection {% endblock %}
{% block content %}
<div id="main-content">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    // set up box at top to select or deselect all
    function checkForChecked() {
        var isSomethingChecked = false;
        $(".checkSingle").each(function() {
            if($(this).is(":checked")) {
                isSomethingChecked = true;
            }
        })
        return isSomethingChecked
    }

    var isSomethingChecked = false;
    $(".checkSingle").each(function() {
        if($(this).is(":checked")) {
            isSomethingChecked = true;
        }
    })
    isSomethingChecked = checkForChecked();
    if(isSomethingChecked){ $("#selectAll").prop("value", "Deselect all"); }

    $("#selectAll").click(function(){
        var isSomethingChecked = checkForChecked();
        if (isSomethingChecked) {
            $('input:checkbox').prop('checked', false);
            isSomethingChecked = false;
            $("#selectAll").prop("value", "Select all");
        } else {
            $('input:checkbox').prop('checked', true);
            isSomethingChecked = true;
            $("#selectAll").prop("value", "Deselect all");
        }
    });

  $('.checkSingle').click(function() {
      var isSomethingChecked = checkForChecked();
      if(isSomethingChecked){
          $("#selectAll").prop("value", "Deselect all");
      } else {
          $("#selectAll").prop("value", "Select all");
      }
    // } //else {
    //   $("#selectAll").prop("checked", false);
    // }
  });
});
</script>
<div id="query-wizard-filter-table-options">


    <form action="{% url 'query_setup' request.session.scalar_or_3d %}" method="post" />
    {% csrf_token %}
    <div class="submit-buttons">
        <input type="hidden" value="{{ current_table }}" name="table" />
        <input class="submit" type="submit" value="Cancel" name="commit" />
        <input class="submit" type="submit" value="Submit" name="commit" />
    </div>
    <table class="selection-table">
    <thead>
    {% if current_table == 'variable' %}
    <tr>
        <th>Bodypart</th>
        <th>Variable ID</th>
        <th>Variable name</th>
        <th>Variable label</th>
        <th><input id="selectAll" type="button" value="Select all"></th>
    </tr>
    </thead>
    <tbody>
        {% for value in values %}
        <tr>
            <td>{{ value.bodypart_name }}</td>
            <td>{{ value.var_id}}</td>
            <td>{{ value.var_name }}</td>
            <td>{{ value.var_label }}</td>
            <td class="centered"><input type="checkbox" class="checkSingle" name='id' value="{{ value.var_id }}"
                    {% if value.id in request.session.selected.current_table %} CHECKED {% endif %}></td>
        </tr>
        {% endfor %}
    {% elif current_table == 'bodypart' or current_table == 'taxon' %}
        <link href="{% static 'primo/js/nlstree/nlstree.css' %}" media="screen" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{% static 'primo/js/nlstree/nlstree.js' %}"></script>
        <script type="text/javascript" src="{% static 'primo/js/nlstree/nlstreeext_state.js' %}"></script>

    </thead>
    <tbody>
        <tr><td>
        <div id="heirarchy">
            <script>
                var tree = new NlsTree("main");

                tree.opt.icon     = true;
                tree.opt.sort     = "no";
                tree.opt.check    = true;
                tree.opt.oneClick = true;

                //maintain state using cookie
                tree.opt.mntState = true;

                //paste in tree structure
                {{ javascript|safe }}
                //render the tree
                tree.renderAttributes();
                tree.render();
            </script>
        </div>
        </td></tr>
    {% else %} {# sex or fossil #}
    <tr>
        <th width="80%">{{ current_table|capfirst }}</th>
        <th><input id="selectAll" type="button" value="Select all"></th>
    </tr>
    </thead>
    <tbody>
        {% for value in values %}
        <tr>
            <td>{{ value.name }}</td>
            <td class="centered"><input type="checkbox" class="checkSingle" name='id' value="{{ value.id }}"
                {% if value.id in request.session.selected.current_table %} CHECKED {% endif %}></td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
    <div class="submit-buttons">
        <input type="hidden" value="{{ current_table }}" name="table"  />
        <input class="submit" type="submit" value="Cancel" name="commit"/>
        <input class="submit" type="submit" value="Submit" name="commit"/>
    </div>
    </form>
</div>
{% endblock %}
